%blockquote
  %i= comment.user.name + " said :"
  %p= comment.content
  = link_to 'Comment', { :controller => :comment, :action => :create, :commentable_id => comment, :commentable_type => "Comment" }
  - unless comment.comments.empty?
    = render :partial => 'comment/comment_display', :collection => comment.comments, :as => :comment
