%h2 Edit your comment
= simple_form_for :comment do |f|
  = f.input :content
  = f.button :submit
  = link_to 'cancel', :controller => (CommentHelper.getParentSymbol(CommentHelper.getHigherParent @comment)), :action => :view, :id => (CommentHelper.getHigherParent @comment)
