%h2 Delete an idea
%p= "You are about to delete the idea \"#{@idea.name}\", are you sure ?"
= button_to 'delete', :action => :delete, :id => @idea, :confirm => true
= link_to 'cancel', { :action => :view, :id => @idea }, :class => :btn
