%h2= @user.name
.role
  = User::Roles[@user.role]
.buttons
  = link_to "Edit", { :action => :edit, :id => @user }, :class => "btn"
  = button_to "Delete", { :action => :delete, :id => @user }, :class => "btn btn-danger"
