%h2= "Boxes list"
- if @boxes != nil && @boxes.count > 0
  = render :partial => 'box_row', :collection => @boxes, :as => :box
- else
  %i There is no box for the moment.
.buttons
  = link_to "Create a new box", { :action => :create }, :class => "btn"
